<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fabscreen.platform.core">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--WIFI permission-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Bluetooth permission   -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <!--Scan Network need location permission in Android 6.0 or upper-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--u disk permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <!--Install package permission-->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />

    <!--Factory permission-->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity
            android:name="fabscreen.platform.core.fabscreen.platform.base.view.ToastActivity"
            android:launchMode="singleTop"
            android:theme="@style/DialogTheme" />

        <activity
            android:name=".ui.common.FakeLanguageLoadingActivity"
            android:theme="@style/AppTheme.Activity.NoAnimation" />

        <service android:name="fabscreen.platform.core.fabscreen.platform.base.legacy.connection.service.SerialPortService" />

        <receiver
            android:name="fabscreen.platform.base.receiver.DeviceOwnerReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>
        <receiver
            android:name="fabscreen.platform.base.receiver.InstallProcessReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.snapmaker.updateApkBroadcast" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
