<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fabscreen.features.print">

    <application>
        <activity
            android:name=".j1platform.PrintJ1Activity"
            android:theme="@style/AppTheme.Activity" />

        <activity
            android:name=".print.PrintActivity"
            android:theme="@style/AppTheme.Activity" />
        <activity
            android:name=".a400platform.PrintA400Activity"
            android:theme="@style/AppTheme.Activity" />
        <activity
            android:name=".a400platform.A400LaserSetZModeSelectActivity"
            android:theme="@style/AppTheme.10transparentActivity" />
        <activity
            android:name=".j1platform.PrintJ1AdjustmentContainerActivity"
            android:theme="@style/AppTheme.Activity" />
        <activity
            android:name=".a400platform.A400PrintModeSelectActivity"
            android:theme="@style/AppTheme.10transparentActivity" />

        <activity
            android:name=".a400platform.A400PrintSettingActivity"
            android:theme="@style/AppTheme.10transparentActivity" />
    </application>
</manifest>
